# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# Uploads
uploads/

# VS Code
.vscode/

# Frontend
node_modules/
dist/

# OS
.DS_Store

# Large benchmark logs
backend/sample_logs/*.log